{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}
